/*Services*/
.services {
	width:800px;
	font-family: 'Acme', sans-serif;
	margin-right: 15px;
	margin-left: 45px;
}

/*NAVIGATION*/

.navbar {
    text-transform: uppercase;
}

ul, li {
    list-style: none;
    display: inline-block
}

a {

    text-decoration: none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active {

    text-decoration: none;
}

h1,
h2,
h4 {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}

.btn:hover {

    background-color: #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}
