/*NAVIGATION*/


    

.navbar {
    
    background-color: #D3C736!important;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 700;
    border-color: black;
}

.navbar a {
    
    color: #ffff !important;
    opacity: 0.7;
}


.navbar a:hover {
    
    opacity: 1;
    background-color: #111111 !important;
}


/*SERVICES*/

.services {
    
    padding: 80px 0 80px;
    text-align: center;
}


.services h1 {
    
    color: #4c4c4c;
    margin: 20px 0 20px;
    font-family: 'Acme', sans-serif;
}


.services p {
    
    color: #737373;
    font-size: 30px;
    padding-bottom: 40px;
    font-family: 'Acme', sans-serif;
}


.services i {
    
    height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #6699cc;
    color: #fff;
}


@media(max-width:768px) {
    
    .services {
        
        padding: 30px;
    }
}


/*FOOTER*/

.footer {
    
    padding: 30px;
    color: #cccccc;
    background-color: #222222;
}


.footer .social {
    
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}


.footer input {
    
    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn {
    
    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
}

